/* ========================== */
/* REGISTER HEADER */
/* ========================== */

.register-logo{
width:52px;
height:52px;

background:#2d6a4f;
color:white;

display:flex;
align-items:center;
justify-content:center;

border-radius:12px;

font-size:22px;

margin:auto;
margin-bottom:12px;
}

.login-card h2{
text-align:center;
font-size:26px;
font-weight:700;
margin-bottom:4px;
}

.login-card > p{
text-align:center;
margin-bottom:20px;
color:#777;
font-size:13px;
}

/* ========================== */
/* LOGIN CARD SIZE */
/* ========================== */

.login-card{
width:420px;
padding:36px 34px;

background:#f3f1ec;

border-radius:24px;

border:2px dashed #d6cfc2;

box-shadow:0 18px 35px rgba(0,0,0,0.2);
}

/* ========================== */
/* LABEL */
/* ========================== */

.field-label{
font-size:13px;
font-weight:600;
margin-bottom:5px;
display:block;
color:#333;
}

/* ========================== */
/* INPUT GROUP */
/* ========================== */

.input-wrapper{
position:relative;
margin-bottom:14px;
}

.input-wrapper input{

width:100%;
height:46px;

border-radius:10px;

border:1px solid #dcdcdc;

background:#ffffff;

padding-left:42px;
padding-right:40px;

font-size:13px;

outline:none;

transition:all .2s;

}

.input-wrapper input:focus{

border-color:#2d6a4f;

box-shadow:0 0 0 3px rgba(45,106,79,0.12);

}

/* INPUT ICON */

.input-icon{

position:absolute;

left:12px;
top:50%;

transform:translateY(-50%);

font-size:14px;
color:#888;

}

/* PASSWORD EYE */

.eye-btn{

position:absolute;

right:12px;
top:50%;

transform:translateY(-50%);

border:none;
background:none;

cursor:pointer;

font-size:14px;
color:#777;

}

/* ========================== */
/* TERMS */
/* ========================== */

.terms{

display:flex;
gap:8px;

margin:10px 0 16px 0;

font-size:12px;

align-items:flex-start;

color:#555;

}

.terms input{

margin-top:3px;
cursor:pointer;

}

.terms b{
color:#1a1a1a;
}

/* ========================== */
/* REGISTER BUTTON */
/* ========================== */

.register-btn{

width:100%;
height:46px;

border:none;

border-radius:12px;

background:#1f4d3a;

color:white;

font-weight:600;

font-size:14px;

cursor:pointer;

margin-bottom:16px;

transition:all .2s;

}

.register-btn:hover{
background:#2d6a4f;
}

/* ========================== */
/* LOGIN LINK */
/* ========================== */

.register-row{

text-align:center;

font-size:13px;

color:#777;

}

.register-row a{

font-weight:600;
color:#333;
text-decoration:none;

}

.register-row a:hover{
color:#2d6a4f;
}

/* ========================== */
/* RESPONSIVE */
/* ========================== */

@media(max-width:900px){

.login-card{
width:100%;
max-width:360px;
padding:30px;
}

}